// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.rounded-circle{
    
    height: 300px;
    width: 250px;
    padding-bottom: 25px;
    padding-top: 25px;
    margin-left: 65px;
}

.col-5{
    padding-top: 65px;
    padding-left: 90px;
}

.col-4{
    padding-top: 65px;
}